@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
	font-family: 'Noto Sans TC' !important;
	background-color: black !important;
	position: relative;
	padding: 0;
	margin: 0;	
}

.wrap{
	width: 100%;
	height: 1080px;
	position: relative;
	min-width: 1000px;
	background: url('tokaimg/bg.jpg') no-repeat top center;
}


.cards{
	width: 750px;
	position: relative;
	margin: 0 auto;
	top: -250px;
	perspective: 3000px;
	transition: 1s linear;
}

.cards > div{
	width: 750px;
	height: 500px;
	position: relative;
}

.top{
	position: absolute;
	top: 500px;
	z-index: 1;
	transition: transform 2s;
  	transform-style: preserve-3d;
  	transform-origin: top;
}

.cards:hover{
	top: 50px;
}

.cards:hover .top {
  transform: rotateX( 180deg ) ;
  -webkit-transform: rotateX( 180deg ) ;
  transition: transform 1s;
  box-shadow: 2px 2px 4px #000;
}

.front,.back{
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.back{
	transform: rotateX( 180deg );
}

.click{

}

.down{
	background: url('tokaimg/card02.jpg') no-repeat top center;
	box-shadow: 2px 2px 4px #000;
}

